.send_button {
    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    /* styles */
    padding: 12px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    border-radius :6px;
    width: 10%;
}

.button_text {
    text-align: center;
}

.send_button:hover {
    color: #a3d063;
    background-color: #fff;
    cursor: pointer;
  }